<table valign="top" style="width: 100%">
	<tr>
		<td colspan="2" align="center"><span id="composer_DetailTitle">Test</span></td>
	</tr>
	<tr>
		<td>First</td>
		<td><input type="text" id="composer_DetailFirstName" style="width: 100%" readonly></td>
	</tr>
	<tr>
		<td>Last</td>
		<td><input type="text" id="composer_DetailLastName" style="width: 100%" readonly></td>
	</tr>
	<tr>
		<td>Salutation</td>
		<td><input type="text" id="composer_DetailSalutation" style="width: 100%" readonly></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" id="composer_DetailEmail" style="width: 100%" readonly></td>
	</tr>
		<td colspan="2" align="right">
			<input type="button" value="Close" id="composer_DetailClose">
		</td>
	</tr>
</table>